html
  head
  body
    h3= `${user.firstName}'s Bookshelves`
    a(href= `/users/${user.id}/bookshelves/1`) Want To Read
    div
    a(href= `/users/${user.id}/bookshelves/2`) Currently Reading
    div
    a(href= `/users/${user.id}/bookshelves/3`) Read
    div
