
extends layout.pug

include user-form.pug

block content
  each Manga in bookshelf[0].Mangas
    div
      p(id=`${userId}-${bookshelfId}`)= Manga.title
        button(class="delete-currentlyReading" id=`${userId}-${bookshelfId}`) Delete
  script(src="/js/currentlyReading.js" type="module")
