extends layout.pug

include user-form.pug

block content
  form(action="/guest" method="post")
    label(title="guest-entry") Let us know what you think!!
      button(type="submit") Contine as guest
