doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Mangareads - #{title}
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/header.css")
    link(rel="stylesheet" href="/css/mangas.css")
    link(rel="stylesheet" href="/css/add-review_md.css")
    link(rel="stylesheet" href="/css/general.css")
    link(rel="stylesheet" href="/css/lil-extra.css")

    script(src="https://kit.fontawesome.com/dd433fc91b.js" crossorigin="anonymous")
  block content
//- html
//-   head
//-     meta(charset="utf-8")
//-     meta(http-equiv="X-UA-Compatible" content="IE=edge")
//-     title Navbar
//-     meta(name="description" content="")
//-     meta(name="viewport" content="width=device-width, initial-scale=1")
//-     link(rel="stylesheet" href="/css/header.css")
//-   body
//-     header
//-       img(class="logo" src="" alt="logo")
//-       nav
//-         ul(class="nav__links")
//-           if //signed in
//-             li
//-               a(href="/users/profile")
//-             li
//-               a(href="/users/logout") Logout
//-           else
//-             li
//-               a(href="/users/login") Login
//-             li
//-               a(href="/guest") Guest
