extends home.pug

block content
  head
    title Mangareads
  body
    table
      thead
        tr
          th
          th Title
          th Genre
      tbody

        each manga in mangas
          tr
            td: img(src=`${manga.coverImg}`, alt="coverImg" style="width:100px" )
            td= `${manga.title}`
            td= `${manga.genre}`
            td: a(href= `/mangas/${manga.id}`) More Info
