extends layout.pug
include user-form.pug

block content
  table
    thead
      tr
        th Name
        th Profile
    tbody
      each user in users
        tr
          td= `${user.firstName} ${user.lastName}`
          td: a(href= `/users/${user.id}`) #{user.firstName}'s Profile
