html
  head
  body
    each Manga in bookshelf[0].Mangas
      div
        p= Manga.title
        button(class=`delete-wantToRead` id=`${userId}-${bookshelfId}-${bookshelf[0].Mangas.indexOf(Manga)}` ) Delete
    script(src="/js/wantToRead.js" type="module")
