.mangaCard {
  max-width: 30px;
  max-height: 120px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
      'header'
      'header'
      'header'
      'footer'
      'footer';
}

.cardTop{
  grid-area: header;
}
.cardBottom{
  grid-area: footer;
}

.mangasTogether {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
      'card card card card'
      'card card card card'
      'card card card card';
}
.indivCard {
  grid-area: card;
}
.manga-page-image-container{
  align-content: center;
  margin: 50px
}
.manga-page-image{
  height: 300px;
  width: 200px;
}
.manga-page-details{
  background-color: aliceblue;
}
