.mangaCard {
  max-width: 30px;
  max-height: 120px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
      'header'
      'header'
      'header'
      'footer'
      'footer';
}

.cardTop{
  grid-area: header;
}
.cardBottom{
  grid-area: footer;
}

.mangasTogether {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
      'card card card card'
      'card card card card'
      'card card card card';
}
.indivCard {
  grid-area: card;
}
/* REVIEWS PAGE */
td{
  padding: 9px;
}
th{
  padding: 0;
}
.reviews-table{
  border-collapse: collapse;
  margin: 25px 40px;
  background-color: #eadcf1;;
  border-radius: 10px;
}
.user-name{
  font-weight: bold;
}
.user-comment{
  margin-bottom: 80px;
}
.star-form{
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1;
}
output{
  color: white
}
/* MANGA DETAILS PAGE */
.manga-page-image-container{
  align-content: center;
  margin: 50px
}
.manga-page-image{
  height: 333px;
  width: 216px;
  border-radius: 18px;
  margin: 30px 40px 10px 40px;
}
.manga-page-details{
  background-color: aliceblue;
}
.reviews-star-container{
  width: 333px;
}
.write-revw-btn{
  padding-left: 40px;
}
.title-header{
  padding-top: 25px;
  padding-left: 25px;
}
.reviews-star{
  user-select: none;
  font-size: 14px;
  color: #ff9800;
  background-color: unset;
  border: none;
}
.manga-details-page{
  background-blend-mode: overlay;
  background-image: url('/images/${manga.id}');
  background-size:cover
}
.manga-page-details{
  margin: 40px;
  background-color: #eadcf1;
  padding: 22px 44px;
  align-content: center;
  width:fit-content;
  border-radius: 18px;
}
.manga-title{
  font-size: 30px;
  margin-bottom: 40px;
}
.manga-author{
  margin-bottom: 8px;
}
.manga-descr{
  width: 500px;
}
.manga-date{
  margin-top: 14px ;
}
.reviews-btn{
  font-size: 18px;
  color: #ff9800;
  margin-left: 40px;
  margin-top: 2px;
  margin-bottom: 8px;
}
.book-shelf{
  margin-left: 40px;
}
/* FOOTER */
.footer-body{
  margin-top: 150px;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: black;
}
.footer{
  padding-top: 30px;
  padding-bottom: 40px;
}
.footer-container{
  max-width: 1170px;
  margin: auto;
  background-color: solid black;
}
ul{
  list-style: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  color: #e5e5e5;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  background-color: rgb(106, 94, 233);
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 166px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: rgb(100, 91, 193);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
/* LOGIN */
.login-form{
  position: relative;
}
/* ADD/EDIT REVIEW */
.rating{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(162, 162, 162, 0.849);
  width: fit-content;
  padding: 20px;
  border-radius: 18px;
}
.rating-label{
  margin-bottom: 8px;
}
/* BOOKSHELVES */
.bookshelves-page{
  padding: 5px;
  margin: 20px 40px;
  text-decoration: none;
}
.bookshelf-link{
  color: #ffffff;
  text-decoration: none;
}
.bookshelf-container{
  margin: 25px;
  border-radius: 9px;
  padding: 18px;
  width: fit-content;
  background-color: #141414;
}
