.mangaCard {
  max-width: 30px;
  max-height: 120px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
      'header'
      'header'
      'header'
      'footer'
      'footer';
}

.cardTop{
  grid-area: header;
}
.cardBottom{
  grid-area: footer;
}

.mangasTogether {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
      'card card card card'
      'card card card card'
      'card card card card';
}
.indivCard {
  grid-area: card;
}
.manga-page-image-container{
  align-content: center;
  margin: 50px
}
.manga-page-image{
  height: 300px;
  width: 200px;
}
.manga-page-details{
  background-color: aliceblue;
}
td{
  padding: 9px;
}
th{
  padding: 0;
}
.reviews-table{
  border-collapse: collapse;
  margin: 25px;
  background-color: #e5e5e5;
  border-radius: 10px;
}
.user-name{
  font-weight: bold;
}
.user-comment{
  margin-bottom: 80px;
}
.star-form{
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1;
}
output{
  color: white
}
