.guestContainer {
  text-align: center;
  margin: auto;
  width: 500px;
  max-width: 90%;
  padding-top: 150px;
}

.guestForm{
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #eadcf1;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
}

#guest-entry{
  padding-bottom: 10px;
}

#guestGif{
 width: 500px;
 border-radius: 5px;
}

#accessTo {
  padding: 10px
}

#accessList {
  text-align: justify;
  padding-left: 75px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #c1a6c48c;
  border-radius: 10px;
}

#ulGuest{
  font-weight: bold;
}

#liGuest {
  padding-left: 10px;
  text-align: left;
}

#guestSubmit{
  padding-top: 5px;
}

#thoughtsG{
  padding-top: 40px  ;
}
