@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

header{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000
}
.navlinks{
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 7px 5%;
}
.logo{
  cursor:pointer;
  height: 60px;
  padding:0;
  margin:0;
}
.nav__links{
  list-style: none;
}
.nav__links li{
  display:inline-block;
  padding: 0px 10px;
}
.nav__links li a{
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
  color:rgba(162, 163, 255, 0.6)
}
.purpBtn{
  color: white;
  padding:6px 14px;
  background-color: rgba(72, 65, 156);
  border-radius: 14px;
  cursor: pointer;
  transition:all 0.3s ease 0s;
}
.purpBtn:hover{
  background-color: rgba(22, 20, 49);
  color: white;
  border-width: 4px;
  border-color: rgb(124, 113, 251);
}
.navbar-text{
  color: white;
}
