.star-rating{
  user-select: none;
}
.star{
  font-size: 28px;
  color: #ff9800;
  background-color: unset;
  border: none;
}
.star:hover{
  cursor:pointer
}
#rating{
  visibility: hidden;
}

/* INPUT FIELDS */
.input-group{
  position: relative;
}
.loginputs{
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font: inherit;
}
.login-label{
  position: absolute;
  top: -30px;
  left: -26px;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  transition: transform .25s, opacity .25s;
}
.icon{
  display: inline-flex;
  opacity: 0;
}
.loginputs:focus+.login-label{
  transform: translateX(26px);
}
.loginputs:focus+.login-label .icon{
  opacity: 1;
  transition-delay: .1s;
}
.loginputs::placeholder{
  transition: opacity .25s;
}
.loginputs:focus::placeholder{
  opacity: 0;
}
.login-form{
  display:block;
  position: relative;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: auto;
  width: 300px;
  padding: 30px;
  /* width: 300px; */
  background-color: grey ;
  border-radius: 14px;
  border: 3px solid rgba(72, 65, 156, 0.8);
}
.py-4{
  align-self: center;
  margin-top: 18px;
}
.py-4 a{
  padding: 14px;
}
.btn-warning{
  color: white;
  text-decoration: none;
}
.cancel-btn{
  margin-top: 6px;
}
.register-item{
  margin-top: 11px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
}
.registerLabel{
  margin-top: 8px;
  margin-left: 26px;
}
